  /* Styling Umum */
  body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    color: #333;
}

h2 {
    margin-top: 20px;
    font-size: 2em;
    color: #333;
}

/* Styling Iframe Map */
iframe {
    width: 100%;
    max-width: 600px;
    height: 300px;
    border: 0;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

iframe:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Styling Ikon Media Sosial */
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 15px;
}

.social-icons a {
    text-decoration: none;
    font-size: 24px;
    padding: 12px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Warna khusus untuk setiap platform */
.social-icons a:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.social-icons a i {
    font-size: 20px;
}

/* Warna background ikon sosial */
.social-icons a.tiktok { background-color: #000; }
.social-icons a.instagram { background: radial-gradient(circle at 30% 30%, #000, #000000); }
.social-icons a.youtube { background-color: #000000; }
.social-icons a.whatsapp { background-color: #000000; }
